<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<th:block th:fragment="ajaxLoadedContent">

	<div class="container" 
		style="margin-top: 120px;margin-bottom: 150px;font-family: Rajdhani, sans-serif;color: #12044F;font-weight: 700;">

		<th:block th:if="${allCustomers.size() == 0}">
			<div class="text-center">
				<h1 th:text="${'No available customers currently'}"></h1>
				<button class="btn btn-secondary border-dark mt-5" 
					th:onclick="redirectHome()"
					th:text="${'Home Page'}">
				</button>
			</div>
		</th:block>
	
		<th:block th:if="${allCustomers.size() > 0}">
			<div class="text-center mb-5">
				<h1 th:text="${'Customers List'}"></h1>
			</div>
				
			<input type="hidden" id="recordsPerPage" th:value="${recordsPerPage}">
			<table class="table table-stripped table-hover table-bordered table-success" id="listingTable">
				<thead class="table-dark">
					<tr>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Customer Id'}">
						</th>
            			<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'First Name'}">
						</th>
                		<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Last Name'}">
						</th>
                		<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Email'}">
						</th>
                		<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Enabled'}">
						</th>
                		<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Actions'}">
						</th>
					</tr>
				</thead>
			
				<tbody>
					<tr th:each="tempCustomer : ${allCustomers}">
						<th:block th:each="tempUser : ${allUsers}">
							<th:block th:if="${tempCustomer.userId == tempUser.id}">
								<td class="text-center"
									style="text-align: center; vertical-align: middle;" th:text="${tempCustomer.customerId}">
								</td>
								<td class="text-center"
									style="text-align: center; vertical-align: middle;" th:text="${tempUser.firstName}">
								</td>
								<td class="text-center"
									style="text-align: center; vertical-align: middle;" th:text="${tempUser.lastName}">
								</td>
								<td class="text-center"
									style="text-align: center; vertical-align: middle;" th:text="${tempUser.email}">
								</td>
								<td class="text-center"
									style="text-align: center; vertical-align: middle;">
									<th:block th:if="${tempUser.enabled == 0}">
										<span class="text-danger" th:text="Suspended"></span>
									</th:block>
								
									<th:block th:if="${tempUser.enabled == 1}">
										<span th:text="Enabled"></span>
									</th:block>
								</td>
                    			
                    			<td class="text-center"
									style="text-align: center; vertical-align: middle;">
                    				<div class="dropdown">
										<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                        					th:text="${'Actions'}">
                    					</button>
										<div class="dropdown-menu">
											<button class="dropdown-item" 
												th:onclick="redirectCustomerDetails([[${tempCustomer.customerId}]])" 
												th:text="${'Details'}">
											</button>
											<th:block th:if="${tempUser.enabled == 0}">
												<button class="dropdown-item"  
													th:onclick="reactivateUser([[${tempUser.id}]])"
													th:text="${'Reactivate'}">
												</button>
											</th:block>
											<th:block th:if="${tempUser.enabled == 1}">
												<button class="dropdown-item btn btn-danger" 
													th:onclick="suspendUser([[${tempUser.id}]])"
													th:text="${'Suspend'}">
												</button>
											</th:block>
											<button class="dropdown-item" 
												th:onclick="deleteCustomer([[${tempCustomer.customerId}]])" 
												th:text="${'Delete'}">
											</button>
										</div>
									</div>
                    			</td>
							</th:block>
						</th:block>
					</tr>
				</tbody>
			</table>
			
			<div style="float: right">
           		<button th:onclick="prevPage()" id="btn_prev">Prev</button>
				page: <span id="page"></span>
				<button th:onclick="nextPage()" id="btn_next">Next</button>
			</div>
			
			<script th:src="@{/js/pagination.js}"></script>
			<script>
				$(document).ready(function() {
	 			 	changePage(1);
				});
			</script>
				
		</th:block>
	</div>
</th:block>