<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<th:block th:fragment="ajaxLoadedContent">

	<div class="container" 
		style="margin-top: 120px;margin-bottom: 100px;font-family: Rajdhani, sans-serif;color: #12044F;font-weight: 700;">

		<div class="jumbotron">
			<h1 th:text="${'Book Added To Your Cart'}"></h1>
		</div>

		<div class="text-center mt-5">
            
            <button class="btn btn-primary border-dark mr-3"  
            	th:onclick="redirectAllBooks()" 
            	th:text="${'All Books'}">
            </button>
            
            <button class="btn btn-primary border-dark"  
            	th:onclick="redirectCart()" 
            	th:text="${'Cart'}">
            </button>
            
     	</div>
	</div>
</th:block>