<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<th:block th:fragment="ajaxLoadedContent">

	<div class="container" 
		style="margin-top: 120px;margin-bottom: 100px;font-family: Rajdhani, sans-serif;color: #12044F;font-weight: 700;">
		<th:block th:if="${customer.loyaltyCardId == null}">
		
			<th:block th:if="${cardRequest == null}">
				<div class="text-center">
					<h2 th:text="${'You do not have loyalty card currently'}"></h2>
				</div>
				
				<div class="text-center mt-5">
					<button class="btn btn-dark mr-3"
						th:onclick="getLoyaltyCard()"
						th:text="${'Apply For Card'}">
					</button>
					
					<button class="btn btn-info border-dark" 
						th:onclick="redirectHome()"
						th:text="${'Home Page'}">
					</button>
				</div>
			</th:block>
		
			<th:block th:if="${cardRequest != null}">
				<h2 th:text="${'Your card request is waiting for Admin Review'}"></h2>
			</th:block>
		
		</th:block>
		
		<th:block th:if="${customer.loyaltyCardId != null}">
			<div class="text-center">
				<h2 th:text="${'You are part of our loyalty program'}"></h2>
				<h5 th:text="${'Collect 100 points and get discount of 35% on all products'}"></h5>
			</div>
			<div class="text-center mt-5">
				<th:block th:each="tempCard : ${allCards}">
					<th:block th:if="${customer.loyaltyCardId == tempCard.loyaltyCardId}">
						<table class="table table-bordered table-success">
							<tbody class="table-success">
								<tr>
									<td class="text-center"
										style="text-align: center; vertical-align: middle;" th:text="${'Card Id:'}">
									</td>
									<td class="text-center"
										style="text-align: center; vertical-align: middle;" th:text="${tempCard.loyaltyCardId}">
									</td>
								</tr>
										
								<tr>
									<td class="text-center"
										style="text-align: center; vertical-align: middle;" th:text="${'Points'}">
									</td>
									<td class="text-center"
										style="text-align: center; vertical-align: middle;" th:text="${tempCard.points}">
									</td>
								</tr>
							</tbody>
						</table>
					</th:block>
				</th:block>
			</div>
		</th:block>		
	</div>		
</th:block>