<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<th:block th:fragment="ajaxLoadedContent">

	<div class="container" 
		style="margin-top: 120px;margin-bottom: 150px;font-family: Rajdhani, sans-serif;color: #12044F;font-weight: 700;">
		<th:block th:if="${allBooks.size() == 0}">
			<div class="text-center">
				<h1 th:text="${'No Search Results'}"></h1>
				<button class="btn btn-secondary border-dark mt-5"
					th:onclick="redirectHome()"
					th:text="${'Home Page'}">
				</button>
			</div>
		</th:block>
	
		<th:block th:if="${allBooks.size() > 0}">
			<div class="text-center mb-5">
				<h1 th:text="${'Search Result: ' + allBooks.size()}"></h1>
			</div>
			
			<th:block sec:authorize="hasAuthority('ADMIN')">
				<div class="mb-4">
					<button class="btn btn-info border-dark"
						th:onclick="redirectBookForm()"
						th:text="${'Add Book'}">		
					</button>
				</div>
			</th:block>
			
			<input type="hidden" id="recordsPerPage" th:value="${recordsPerPage}">
			<table class="table table-bordered table-hover" id="listingTable" >
				<thead class="table-danger">
					<tr>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Screenshot'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Book Id'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Name'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Author'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Price'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Average Rating'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Actions'}">
						</th>
					</tr>
				</thead>
				
				<tbody class="table-secondary">
					<tr th:each="tempBook : ${allBooks}">
						<td class="text-center"
							style="text-align: center; vertical-align: middle;">
							<img th:onerror="this.src='https://bpkpd.surabaya.go.id/Content/img/noimage.jpg'"
								th:src="@{${tempBook.imageUrl}}"
							style="max-height: 90px;width: 110px;"/>
						</td>
						
						<td class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${tempBook.bookId}">
						</td>
						<td class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${tempBook.name}">
						</td>
						<td class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${tempBook.author}">
						</td>
						
						<td class="text-center"
							style="text-align: center; vertical-align: middle;"> 
							<span>&euro;</span>
							<span th:text="${tempBook.price} % 1 == 0 ? ${tempBook.price} :${#numbers.formatDecimal(tempBook.price, 0, 2)}">
							</span>
						</td>
						
						<td class="text-center"
							style="text-align: center; vertical-align: middle;">
							<th:block th:if="${tempBook.averageRating != null}"> 
								<span th:text="${tempBook.averageRating} % 1 == 0 ? 
									${tempBook.averageRating} :${#numbers.formatDecimal(tempBook.averageRating, 0, 2)} ">
								</span>
							</th:block>
							<th:block th:if="${tempBook.averageRating == null}">
								<span th:text="${'No ratings'}"></span>
							</th:block>
						</td>
												
						<td class="text-center"
							style="text-align: center; vertical-align: middle;">
							<div class="dropdown">
								<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                        			th:text="${'Actions'}">
                    			</button>
								<div class="dropdown-menu">
									<button class="dropdown-item" 
										th:onclick="viewBookDetails([[${tempBook.bookId}]])"
										th:text="${'Details'}">
									</button>
									<th:block sec:authorize="hasAuthority('ADMIN')">
										<button class="dropdown-item"  
											th:onclick="redirectUpdateBook([[${tempBook.bookId}]])"
											th:text="${'Update'}">
										</button>
										<button class="dropdown-item btn btn-danger" 
											th:onclick="deleteBook([[${tempBook.bookId}]])"
											th:text="${'Delete'}">
										</button>
									</th:block>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>		
		</th:block>
	</div>						
</th:block>